* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffde22;
  color: #000000;
}

#root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.TodosApp {
  margin: 1em;
  width: 30rem;
  background-color: #ffeb8f;
  border-radius: 0.5rem;
  padding: 1em;
}

@media screen and (max-width: 768px) {
  .TodosApp {
    width: calc(100% - 2em);
  }
}
