* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffde22;
  color: #000000;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.TodosApp {
  margin: 1em;
  width: 30rem;
  background-color: #ffeb8f;
  border-radius: 0.5rem;
  padding: 1em;
}
.inputField {
  background-color: #ffeb8f;
  margin: 1em;
  height: 3em;
}
.addButton {
  background-color: #ff414e;
  padding: 0.7em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .TodosApp {
    width: calc(100% - 2em);
  }
}
