button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: "#fff";
  margin-left: 1rem;
}

.form-check-input {
  margin-right: 1rem;
}

.todo-item {
  font-size: 23px;
  font-style: italic;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  box-sizing: content-box;
}
