.container {
  width: 75%;
  align-items: center;
  margin: 1em;
}
.formButton {
  text-transform: uppercase;
  font-weight: bold;
}
.formControll {
  background-color: #ffeb8f;
  color: #ffeb8f;
}
.formHint {
  color: black;
}
#root {
  background-color: #ffde22;
}
